# Ignore everything in this directory
*
# Except these files
!.gitignore
!LocationCrawlerBolt.java
!build.xml
!ExampleJavaSocialMediaStormTopologyRunner.java

# ...even if they are in subdirectories
!*/
